yarn.lock

node_modules/

.idea
Backend/venv
Venv/

Backend/images/
Backend/posewrapper/__pycache__/
Backend/videoextractor/__pycache__/
Backend/build_response/__pycache__/
Backend/build_response/analyze_movement/__pycache__/
Backend/build_response/analyze_movement/pose_difference/__pycache__
Backend/media
Backend/video